/* the footer will need a height if it fails to stick */
body {
    background-color: rgb(255, 255, 255);
    height: 100%;
}

html {
    height: 100%;
}

.footer {
    margin-top: 10px;
    border-top: 4px solid #2d9ff3;
    padding-top: 10px;
    background-color: #666;
}

.footer-row {
    text-align: center;
}

.footer-row > p, a {
    color: #fff;
}

.footer-row > p > a:hover {
    text-decoration: underline;
    color: #fff;
}

* {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    height: auto;
    margin: 0 auto -165px; /* the bottom margin is the negative value of the footer's height */
}

.push {
    height: 165px;
}

.footer {
    height: 165px; /* .push must be the same height as .footer */
}

.kitchen-block {
    position: relative;
    height: 0;
    padding-bottom: 50%;
}

.table > tbody > tr > td {
    line-height: 50px;
    cursor: pointer;
}

.resident-picker-nav {
    line-height: 40px;
}

.dashboard-nav {
    background-color: rgb(130, 175, 209);
    color: rgb(167, 177, 196);
}

.kitchen-block > * {
    color: #fff;
}

/* Color for the kitchens */
.kitchen-one, .kitchen-two, .kitchen-three {
    background-color: #5bc0de;
}

.dashboard-body {
    background-color: rgb(255, 255, 255);
    padding-top: -40px;
}

.sidebar {
    top: -20px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(247,249,250);
    border-right: 1px solid #eee;
}

.fill {
    min-height: 100%;
    height: 100%;
    padding-bottom: 100%;
}

/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: #475B5A;
    text-decoration: none;

}

.nav-sidebar > li > a:hover, a:focus {
    color: #fff;
    background-color: rgb(86,144,236);
}

.nav-sidebar > .active > a {
    color: #fff;
    background-color: #2071c5;
}
.navbar-default {
    background-color: #2071c5;
    border-color: #2071c5;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}
/*
 * Main content
 */

.main {

}


