
.footer{
    margin-top: 50px;
    border-top: 1px solid #f3ecee;
    padding-top: 10px;
    background-color: #f8f8f8;
}

.resident-picker-nav{
    line-height: 50px;
}

.dashboard-nav{
    background-color: rgb(48,64,81);
    color: rgb(167,177,196);
}

.footer-row{
    text-align: center;
}

.kitchen-block {
    position: relative;
    height: 0;
    padding-bottom: 100%;
}

/* Color for the kitchens */
.kitchen-one {
    /*  */
    background-color: #5bc0de;
}

.kitchen-two {
    /*  */
    background-color: #777;
}

.kitchen-three {
    /*  */
    background-color: #5cb85c;
}