<!-- Shares scope with DashboardCtrl -->

<div class="col-md-10 main">
    <!-- Welcome section -->
    <div class="row">
        <div class="col-md-12">
            <p class="lead"> Welcome admin</p>
            <hr/>
        </div>
    </div>


    <!-- inventory overview section -->
    <div class="row">

        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Inventory Overview</h3>
                </div>
                <div class="panel-body">

                    <p>Overview over inventory</p>
                    <canvas id="bar" class="chart chart-bar" height="100px"
                            chart-data="storeChart.data" chart-labels="storeChart.labels"
                            chart-options="storeChart.options"
                            chart-colours="storeChart.colours">
                    </canvas>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Actions
                </div>
                <div class="panel-body">

                    <label for="">Create new resident</label>
                    <button class=" btn btn-info btn btn-group-justified" ng-click="showForm('resident')">
                        New Resident
                    </button>
                    <br>
                    <label for="">Create new Assortment item</label>
                    <button class=" btn btn-info btn btn-group-justified" ng-click="showForm('assortment')">
                        New Assortment Item
                    </button>
                </div>
            </div>
        </div>

        <!-- User activity -->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Latest activity</h3>
                </div>
                <div class="panel-body">
                    <button class="btn btn-default" type="submit">Button</button>
                    some activity
                </div>
            </div>
        </div>
        <!-- Earnings today -->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Latest activity</h3>
                </div>
                <div class="panel-body">

                    some activity
                </div>
            </div>
        </div>

        <!-- page visits -->
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Latest activity</h3>
                </div>
                <div class="panel-body">

                    some activity
                </div>
            </div>
        </div>
    </div>
</div>