<!-- Shares scope with DashboardCtrl -->

<div class="col-md-10 main">
    <!-- Welcome section -->
    <div class="row">
        <div class="col-md-12">
            <p class="lead"> Welcome admin</p>
            <hr/>
        </div>
    </div>


    <!-- inventory overview section -->
    <div class="row">

        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Inventory Overview</h3>
                </div>
                <div class="panel-body">

                    <p>Overview over inventory</p>
                    <canvas id="bar" class="chart chart-bar" height="100px"
                            chart-data="storeChart.data" chart-labels="storeChart.labels"
                            chart-options="storeChart.options"
                            chart-colours="storeChart.colours">
                    </canvas>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <!-- ACTION PANEL -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Actions
                </div>
                <div class="panel-body">

                    <label for="">Create new resident</label>
                    <button class=" btn btn-info btn btn-group-justified" ng-click="showForm('resident')">
                        New Resident
                    </button>
                    <br>
                    <label for="">Create new Product</label>
                    <button class=" btn btn-info btn btn-group-justified" ng-click="showForm('product')">
                        New Product
                    </button>
                </div>
            </div>
        </div>

        <!-- User activity -->
        <div class="col-md-6">
            <!-- TRANSACTION PANEL -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Purchase from storage</h3>
                </div>
                <div class="panel-body">
                    <!-- SELECT ACCOUNT -->
                    <div class="row">
                        <div class="col-md-12">
                            <p>All purchases from this section goes to the <strong>CBS</strong> account</p>
                            <div class="form-group">
                                <label>Choose kitchen or bar</label>
                                <select ng-model="stockPurchase.account_id" class="form-control"
                                        ng-options="account.account_id as account.account_name for account in accountsForUserCreation">
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <!-- PRODUCT SECTION -->
                        <div class="col-md-6">
                            <p>All products are boxes or bottles</p>
                            <div class="list-group">
                                <button type="button" class="list-group-item"
                                        ng-repeat="product in products"
                                        ng-click="addToBasket(product)">
                                    <strong>dkr {{product.purchase_price}}</strong> - {{product.name}}
                                </button>
                            </div>
                        </div>
                        <!-- BASKET SECTION -->
                        <div class="col-md-6">
                            <p><strong>Basket</strong></p>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p ng-repeat="item in stockPurchase.purchase">
                                        {{item.amount}} = {{item.name}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- PRICE -->
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">Price</div>
                                <input ng-model="stockPurchase.total_price" type="number" class="form-control"
                                       placeholder="" readonly>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <button ng-click="purchaseStock()" class="btn btn-success" type="submit">Purchase</button>
                    <button ng-click="clearBasket()" class="btn btn-warning" type="submit">Clear</button>
                </div>
            </div>
        </div>
        <!-- Earnings today -->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Latest Transactions</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <button type="button" class="list-group-item"
                                ng-repeat="transaction in allTransactions.data">
                            <span class="pull-left">id: {{transaction._id}}</span>
                            <span class="pull-right">amount: {{transaction.amount}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- page visits -->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Latest resident activity</h3>
                </div>
                <div class="panel-body">

                    some activity
                </div>
            </div>
        </div>
    </div>
</div>