<!-- Shares scope with DashboardCtrl -->

<div class="col-md-10 main">
    <!-- Welcome section -->
    <div class="row">
        <div class="col-md-12">
            <p class="lead"> Create a new Resident</p>
            <hr/>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">

            <!-- Create resident form elements -->
            <div class="form-group form-group">
                <label>First Name*</label>
                <input ng-model="resident.first_name" type="text" class="form-control" placeholder="First Name">
            </div>
            <div class="form-group form-group">
                <label>Last Name*</label>
                <input ng-model="resident.last_name" type="text" class="form-control" placeholder="Last Name">
            </div>

            <div class="form-group form-group">
                <label>Phone Number*</label>
                <input ng-model="resident.phone" type="text" class="form-control" placeholder="12345678"
                       aria-describedby="tpl">
            </div>

            <div class="form-group form-group">
                <label for="email">email*</label>
                <input ng-model="resident.email" id="email" type="email" class="form-control"
                       placeholder="vkr@awesome.dk"
                       aria-describedby="email">
            </div>
            <div class="form-group form-group">
                <label for="password">Password</label>
                <input ng-model="resident.password" id="password" type="text" class="form-control"
                       placeholder="********"
                       aria-describedby="password">
            </div>
            * Field that will be updated when editing a resident
        </div>

        <!-- Second section -->
        <div class="col-md-4">

            <div class="form-group">
                <label>Associated Kitchen and Billing account*</label>
                <select ng-model="resident.kitchen_number" class="form-control"
                        ng-options="account.account_id as account.account_name for account in accountsForUserCreation | filter:accountVisibilityFilter">

                </select>
            </div>

            <div class="form-group form-group">
                <label>Room number*</label>
                <input ng-model="resident.room_number" id="room-number" type="number" class="form-control"
                       placeholder="format: 3032"
                       aria-describedby="room-number">
            </div>
            <div class="form-group form-group">
                <label>Deposit</label>
                <input ng-model="resident.deposit" id="deposit" type="number" class="form-control"
                       aria-describedby="deposit">
            </div>

            <div class="form-group form-group">
                <label>start balance</label>
                <input ng-model="resident.current_balance" id="start-balance" type="number" class="form-control"
                       aria-describedby="start-balance">
            </div>
            <div class="form-group">
                <label>Choose quickbuy product*</label>
                <select ng-model="resident.quick_buy" class="form-control" name="repeatSelect"
                        ng-options="product.product_id as product.name for product in products">
                </select>
            </div>

            <div class="form-group">
                <label>Choose access level*</label>
                <select ng-model="resident.access_level"
                        required ng-options="option for option in accessLevels" class="form-control">
                </select>
            </div>
            <span class="label label-default">0 - Normal user</span>
            <span class="label label-default">1 - Bartender</span>
            <span class="label label-default">2 - Administrator</span>
        </div>

        <!-- Recently added items -->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Newly Added customers
                </div>
                <div class="panel-body">
                    <p ng-repeat="(key, val) in resident">
                        {{key}}: {{val}}
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <!-- Back button -->
        <div class="col-md-4">
            <hr>
            <button ng-click="showForm('main')" type="button" class="btn btn-danger btn-lg">Back to dashboard</button>
        </div>
        <!-- confirm button -->
        <div class="col-md-4">
            <hr>
            <button ng-hide="editing" ng-click="createResident()" type="button" class="btn btn-info btn-lg">Add
                Resident
            </button>
            <button ng-show="editing" ng-click="updateResident()" type="button" class="btn btn-info btn-lg">Update
                Resident
            </button>
            <button ng-click="clearForms()" type="button" class="btn btn-warning btn-lg">Clear</button>
        </div>

    </div>
</div>