<div class="container-fluid">
    <div class="row">


        <div class="col-lg-1">
            <div class="row">
                <ul class="nav  nav-stacked affix">
                    <li><a href="#"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Users</a></li>
                    <li><a href=""><span class="glyphicon glyphicon-oil"></span> Stock </a></li>
                    <li><a href=""><span class="glyphicon glyphicon-cog"></span> settings </a></li>
                    <li><a href=""><span class="glyphicon glyphicon-cloud"></span> chat</a></li>
                </ul>
            </div>
        </div>


        <div class="col-lg-11">
            <div class="jumbotron">
                <h1>hello</h1>
            </div>
        </div>

    </div>
</div>