<!-- Shares scope with DashboardCtrl -->
<div class="container-fluid dashboard-body">

    <div class="row">

        <div dashboard-sidebar></div>

        <div class="col-md-10 main">
            <!-- Welcome section -->
            <div class="row">
                <div class="col-md-12">
                    <p class="lead">History</p>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <p class="lead">History for {{account}}</p>
                        <div ng-repeat="hist in accountHistory" class="well">
                            <div class="row">
                                <div class="col-md-3">
                                    Price: {{hist.total_price}}
                                </div>
                                <div class="col-md-6">
                                    Time {{hist.timestamp}}
                                </div>
                                <div class="col-md-3">
                                    <p ng-repeat="item in hist.purchase">
                                        Product: {{item.product_id}} Amount: {{item.amount}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a class="btn btn-lg btn-danger" ng-href="#/accounts" role="button">back</a>
                </div>
            </div>
        </div>
    </div><!--/.container-->
</div>


