<!-- Shares scope with DashboardCtrl -->
<div class="container-fluid dashboard-body">

    <div class="row">

        <div dashboard-sidebar></div>

        <div class="col-md-10 main">
            <!-- Welcome section -->
            <div class="row">
                <div class="col-md-12">
                    <p class="lead">History</p>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div ng-hide="resident" class="alert alert-info" role="alert">No history loaded</div>
                    <div ng-show="error" class="alert alert-danger" role="alert">Could not load history</div>
                    <div ng-show="resident">
                        <p class="lead">history for {{resident.first_name}}</p>
                        <div ng-repeat="hist in resident.purchase_history" class="well">
                            <div class="row">
                                <div class="col-md-3">
                                    price: {{hist.total_price}}
                                </div>
                                <div class="col-md-6">
                                    Time {{hist.timestamp}}
                                </div>
                                <div class="col-md-3">
                                    Account {{hist.account_id}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a class="btn btn-lg btn-danger" ng-href="#/dashboard/kitchen/{{resident.kitchen_number}}"
                       role="button">back</a>
                </div>
            </div>
        </div>
    </div><!--/.container-->
</div>


