<!-- Shares scope with DashboardCtrl -->
<div class="container-fluid dashboard-body">

    <div class="row">

        <div dashboard-sidebar></div>

        <div class="col-md-10 main">
            <!-- Welcome section -->
            <div class="row">
                <div class="col-md-12">
                    <p class="lead"> Kitchen {{kitchenNumber}}</p>
                    <hr/>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <form class="form-inline">
                        <div class="form-group">
                            <input id="filterModel" type="text" class="form-control input-lg"
                                   placeholder="Search residents" ng-model="search">
                        </div>
                    </form>

                </div>
                <div class="col-md-8">
                    <p class="lead"> Total residents: <var> {{kitchenResidents.length}}</var></p>

                    <p class="lead"> Summarized balance: <var>{{summarizedBalance()}}</var></p>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <table class="table table-responsive table-hover">
                        <!-- determines width on child columns -->
                        <tr>
                            <th class="col-md-1">ID</th>
                            <th class="col-md-2">Name</th>
                            <th class="col-md-1">Room Nr.</th>
                            <th class="col-md-1">Kitchen</th>
                            <th class="col-md-1">Balance</th>
                            <th class="col-md-1">Deposit</th>
                            <th class="col-md-3"></th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="resident in kitchenResidents | orderBy:'room_number' | filter:search">
                            <td ng-click="viewHistory(resident.resident_id)">{{resident.resident_id}}</td>
                            <td>{{resident.first_name}} {{resident.last_name}}</td>
                            <td>{{resident.room_number}}</td>
                            <td>{{resident.kitchen_number}}</td>
                            <td>{{resident.current_balance}}</td>
                            <td>{{resident.deposit}}</td>
                            <td>
                                <!-- Inline refill form -->
                                <div class="row">
                                    <form class="form-inline">
                                        <input ng-model="resident.refillValue" type="number" class="form-control"
                                               placeholder="Add to balance">
                                        <button ng-click="deposit(resident)" type="submit"
                                                class="btn btn-success">
                                            Deposit
                                        </button>
                                    </form>
                                </div>
                            </td>
                            <td>
                                <button ng-click="changeView(resident)" type="submit"
                                        class="btn btn-warning">Edit
                                </button>
                            </td>
                        </tr>
                    </table>

                </div>

            </div>
        </div>


    </div>
</div><!--/.container-->



