<!-- Shares scope with DashboardCtrl -->
<div class="container-fluid dashboard-body">
    <div class="row">
        <div dashboard-sidebar></div>
        <!-- Used for sidebar -->


        <div class="col-md-10 main">
            <!-- Welcome section -->
            <div class="row">
                <div class="col-md-12">
                    <p class="lead"> Account overview</p>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="col-md-6" ng-repeat="account in accounts">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <blockquote>{{account.account_name}}</blockquote>

                                <p class="lead">Account id: {{account.account_id}}</p>
                                <p class="lead">Balance: {{account.balance}}</p>

                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        Available products
                                    </div>
                                    <div class="panel-body">
                                        <p ng-repeat="aproduct in account.available_products">
                                            {{aproduct.name}}
                                        </p>
                                    </div>
                                </div>

                                <button ng-click="" class="btn btn-info">
                                    Show history
                                </button>
                                <button ng-click="selectAccount(account)" class="btn btn-default" type="submit">
                                    Edit available products
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">

                    <div>
                        <div ng-hide="chosenAccount" class="alert alert-info" role="alert">
                            No account chosen yet!
                        </div>
                        <div ng-show="chosenAccount" class="panel panel-default">
                            <div class="panel-heading">History</div>
                            <div class="panel-body">
                                <div class="list-group" ng-disabled="true">
                                    <button type="button" class="list-group-item"
                                            ng-repeat="product in products"
                                            ng-click="addToChosenAccount(product)">
                                        {{product.name}}
                                    </button>
                                </div>
                                <button ng-click="updateAvailableProducts()" class="btn btn-success" type="submit">
                                    Update
                                </button>
                                <button ng-click="clearAccount()" class="btn btn-success" type="submit">
                                    Clear selection
                                </button>
                                <hr>
                                <p class="lead">{{chosenAccount.account_name}}</p>
                                <p><strong>current available</strong></p>
                                <p ng-repeat="product in chosenAccount.available_products">
                                    {{product.name}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/.container-->



