<!-- Shares scope with DashboardCtrl -->
<div class="container-fluid dashboard-body">
    <div class="row">
        <div dashboard-sidebar></div>
        <!-- Used for sidebar -->


        <div class="col-md-10 main">
            <!-- Welcome section -->
            <div class="row">
                <div class="col-md-12">
                    <p class="lead"> Account overview</p>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="col-md-6" ng-repeat="account in accounts">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <blockquote>{{account.account_name}}</blockquote>

                                <p class="lead">Account id: {{account.account_id}}</p>
                                <p class="lead">Balance: {{account.balance}}</p>

                                <div class="panel panel-info">
                                    <div class="panel-heading">Available products</div>
                                    <div class="panel-body">
                                        <p ng-repeat="aproduct in account.available_products">
                                            {{aproduct.name}}
                                        </p>
                                    </div>
                                </div>

                                <button ng-click="getHistory(account)" class="btn btn-info">
                                    Show history
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div ng-hide="currentHistory" class="alert alert-danger" role="alert">
                        Account History Not Loaded
                    </div>
                    <div ng-show="currentHistory">
                        <div class="panel panel-default">
                            <div class="panel-heading">History</div>
                            <div class="panel-body">
                                <p class="lead">{{currentHistoryAccount.account_name}}</p>
                                <hr>
                                <ul class="list-group">
                                    <li class="list-group-item"
                                        ng-repeat="item in currentHistory">
                                        {{item.first_name}} price
                                        {{sumPrice(item.purchase_history)}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/.container-->



