<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="lead">VKR Bar</p>
            <hr/>
        </div>

    </div>
    <div class="row">

        <div class="col-md-8">
            <div class="row">

                <!-- Search -->
                <div class="col-md-6">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="basic-addon1">Filter</span>
                        <input class="form-control" type="text" ng-model="searchText" placeholder="search residents"/>
                    </div>
                </div>

                <!-- Kitchen selection -->
                <div class="col-sm-8 col-md-6">
                    <div class="btn-group btn-group-lg" role="group" aria-label="">
                        <button ng-click="changeKitchen('one')" type="button" class="btn btn-info">kk 1</button>
                        <button ng-click="changeKitchen('two')" type="button" class="btn btn-info">kk 2</button>
                        <button ng-click="changeKitchen('three')" type="button" class="btn btn-info">kk 3</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Spacing -->
                    <div style="padding-bottom: 60px;">
                    </div>

                    <!-- Error warning -->
                    <div class="alert alert-danger" role="alert" ng-show="err.error">
                        {{err.message}}
                    </div>

                    <!-- resident tables -->
                    <table class="table table-hover table-responsive" ng-hide="err.error">
                        <tr>
                            <th>Full Name</th>
                            <th>Room</th>
                            <th>Balance</th>
                            <th>Quick Buy</th>
                        </tr>
                        <tr ng-repeat="resident in selectedKitchen | orderBy:'room_number' | filter:searchText"
                            class="bar-table">
                            <td ng-click="setCurrentBuyer(resident)">
                                {{resident.first_name}} {{resident.last_name}}
                            </td>
                            <td ng-click="setCurrentBuyer(resident)">{{resident.room_number}}</td>
                            <td ng-class="{'bg-danger':resident.current_balance < -50, 'bg-warning':resident.current_balance < 0}"
                                ng-click="setCurrentBuyer(resident)">{{resident.current_balance}}
                            </td>

                            <td>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <button ng-click="quickBuy(resident)"
                                                ng-hide="resident.activeQuickBuy.authorize"
                                                ng-disabled="currentBuyer == resident"
                                                type="submit" class="btn btn-warning"><em>1x</em>
                                            {{resident.quick_buy.name}}
                                        </button>
                                        <button ng-click="quickBuy(resident)"
                                                ng-show="resident.activeQuickBuy.authorize"
                                                ng-disabled="currentBuyer == resident"
                                                type="submit" class="btn btn-success"> Confirm purchase ?
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>

        <!-- Last used customers -->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Purchase section
                </div>
                <div class="panel-body">

                    <!-- Info box -->
                    <div class="alert alert-info" role="alert" ng-hide="currentBuyer">
                        click on a customer in the table to start purchase
                    </div>

                    <div ng-show="currentBuyer">
                        <p><b>Selected resident:</b> {{currentBuyer.first_name}}
                            {{currentBuyer.last_name}}</p>

                        <p><b>balance:</b> {{(currentBuyer.current_balance).toFixed(2)}}</p>
                        <p>Total price: <span class="label label-default">{{currentTransactionPrice}}</span></p>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="list-group">
                                    <button ng-repeat="product in products"
                                            ng-click="addItem(product.name, product.product_id, product.retail_price.price)"
                                            type="button" class="list-group-item">
                                        <span class="pull-left">{{product.name}}</span>
                                        <span class="pull-right">{{product.retail_price.price + " dkr"}}</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <button ng-click="buy()" type="submit" class="btn btn-success">
                            Make purchase
                        </button>
                        <button ng-click="clearBasket()" type="submit" class="btn btn-warning">
                            Clear
                        </button>
                        <hr>

                        <div class="form-group">
                            <label for="">Refill</label>
                            <input ng-model="refillValue" type="number" class="form-control"
                                   placeholder="Add to balance">
                        </div>
                        <div class="form-group">
                            <button ng-click="refill()" type="submit" class="btn btn-success btn-block">
                                Deposit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Basket section -->
            <div ng-show="currentBuyer" class="panel panel-default">
                <div class="panel-heading">
                    Basket
                </div>
                <div class="panel-body">
                    <p ng-repeat="product in currentTransactionReferencedBasket">
                        <span class="label label-default">{{product.amount}}</span> =
                        {{product.name}} </p>
                </div>
            </div>
        </div>

    </div>

</div>