<div class="container">

    <div class="row">

        <!-- Heading -->
        <h1>Buy here</h1>
        <hr/>

        <div class="col-md-8">
            <div class="list-group">
                <!-- beverage picker -->
                <button type="button" class="list-group-item" ng-repeat="drink in drinks">
                    <span class="pull-left lead">{{drink.name}}</span>
                    <span class="pull-right lead">{{drink.price + " kr"}}</span>
                </button>
            </div>

            <!--
            <div ng-repeat="drink in drinks">
                <div class="row">
                    <div class="col-md-5">

                        <p class="lead">{{drink.name}}</p>
                    </div>
                    <div class="col-md-3">

                        <span class="lead">{{drink.price + "kr"}}</span>
                    </div>
                    <div class="col-md-4">

                        <button class="btn btn-primary btn-lg btn-group-justified">Buy</button>
                    </div>
                </div>
            </div>
            -->

        </div>
        <div class="col-md-4">

            <!-- Basket -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="lead"> Total price: </p>

                    <p class="lead"> Total items: </p>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Basket
                        </div>
                        <div class="panel-body">

                            hello
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>