<div class="container">

    <div class="row">
        <!-- Kitchen one -->
        <div class="col-md-4">
            <a href="#" class="thumbnail">
                <div class="kitchen-block kitchen-one">
                </div>
            </a>
        </div>

        <!-- Kitchen 2 -->
        <div class="col-md-4">
            <a href="#" class="thumbnail">
                <div class="kitchen-block kitchen-two"></div>
            </a>
        </div>

        <!-- Kitchen 3 -->
        <div class="col-md-4">
            <a href="#" class="thumbnail">
                <div class="kitchen-block kitchen-three"></div>
            </a>
        </div>

    </div>
</div>