<div class="container">

    <h1 class="text-center">Select the kitchen on your apartment floor</h1>
    <hr/>
    <div class="row">
        <!-- Kitchen one -->
        <div class="col-md-4" ng-repeat="account in accounts | filter: accountVisibilityFilter">
            <div class="list-group">
                <a ng-href="#/picker/{{account.account_id}}" class="list-group-item  kitchen-block kitchen-one">
                    <p class="lead text-center">{{account.account_name}}</p>

                    <h1 class="text-center"># {{account.account_id}}</h1>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center lead">Hydrogen v1.3</p>
            <p class="text-center">Keeping the people hydrated</p>
            <p class="text-center">
                <br>
                <button ng-click="reloadPage()" type="button" class="btn btn-success btn-lg">
                    <i class="fa fa-refresh" aria-hidden="true"></i>Refresh
                </button>
            </p>
        </div>
    </div>
</div>