<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>VKR Beverage System</h1>

                <p> Welcome to the new beverage system. I hope you will enjoy the simplicity, and responsiveness of the
                    new
                    system. </p>
                <a class="btn btn-primary btn-lg">Read more</a>
            </div>
        </div>
    </div>

    <!-- Information -->
    <div class="row">
        <div class="col-md-12">

            <p>The system is new and have been build from the ground up. Visual bugs can appear, along with other
                inconsistencies. There is a notification system, if you see a red warning label please contact me</p>

            <p>
                <span class="label label-warning">Information</span>
            </p>
        </div>

    </div>

    <!-- Selection section just a trial-->
    <div class="row">

        <div class="col-md-4">

            <div class="well"></div>
        </div>

        <div class="col-md-4">

            <div class="well"></div>
        </div>

        <div class="col-md-4">

            <div class="well"></div>
        </div>
    </div>

</div>