<div class="container">

    <div class="row">
        <h1>Currently Shopping: {{shopper.first_name}} {{shopper.last_name}}</h1>
        <hr/>
        <!-- Beverage section -->
        <div class="col-md-8">
            <div class="list-group">
                <!-- beverage picker -->
                <button type="button" class="list-group-item"
                        ng-repeat="product in products"
                        ng-click="addToBasket(product.name, product.product_id, product.retail_price.price)">
                    <span class="pull-left lead">{{product.name}}</span>

                    <span class="pull-right lead">{{product.retail_price.price + " dkr"}}</span>

                </button>
            </div>
        </div>

        <!-- Basket section -->
        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="lead">Balance: {{shopper.current_balance - totalPrice}} dkr</p>

                    <p class="lead"> Total price: {{totalPrice}} dkr</p>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Basket
                        </div>
                        <div class="panel-body">
                            <p ng-show="basket.purchase_items[0] == undefined"> Empty basket</p>

                            <p ng-repeat="item in basket track by $index">
                                {{item.name}} - <span class="label label-default">{{item.amount}}</span>
                            </p>
                        </div>
                    </div>

                    <div class="btn-group btn-group-justified">
                        <!-- buy items -->
                        <div class="btn-group">
                            <button class=" btn btn-success btn-lg btn-group-justified" ng-click="buyItems()"
                                    ng-disabled="balanceOk()">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                        </div>

                        <!-- Clear list -->
                        <div class="btn-group">
                            <button class=" btn btn-warning btn-lg btn-group-justified" ng-click="clearBasket()">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <hr/>
            <!-- Back to residents page -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a ng-href="#/picker/{{shopper.kitchen_number}}"
                               class="btn btn-primary btn-lg resident-picker-nav">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            Back to residents
                        </a></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>