<div class="container">

    <div class="row">

        <div class="col-md-12">
            <h3>Currently Shopping: {{shopper.first_name}} {{shopper.last_name}}</h3>
            <hr/>
        </div>
        <!-- Beverage section -->
        <div class="col-md-8">
            <div class="list-group">
                <!-- beverage picker -->
                <button type="button" class="list-group-item"
                        ng-repeat="product in products"
                        ng-click="addToBasket(product.name, product.product_id, product.retail_price.price)">
                    <span class="pull-left lead">{{product.name}}</span>

                    <span class="pull-right lead">{{product.retail_price.price + " dkr"}}</span>

                </button>
            </div>
        </div>

        <!-- Basket section -->
        <div class="col-md-4">

            <p class="lead">Which kitchen are you in</p>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group btn-group-lg" role="group">
                    <button ng-click="changeAccount(1)" ng-class="{'active': isAccountActive(1)}" type="button" class="btn btn-default">kk 1</button>
                </div>
                <div class="btn-group btn-group-lg"  role="group">
                    <button ng-click="changeAccount(2)" ng-class="{'active': isAccountActive(2)}" type="button" class="btn btn-default">kk 2</button>
                </div>
                <div class="btn-group btn-group-lg" role="group">
                    <button ng-click="changeAccount(3)" ng-class="{'active': isAccountActive(3)}" type="button" class="btn btn-default">kk 3</button>
                </div>
            </div>
            <hr>

            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="lead">Balance: {{(shopper.current_balance - totalPrice).toFixed(2)}} dkr</p>

                    <p class="lead"> Total price: {{totalPrice}} dkr</p>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Basket
                        </div>
                        <div class="panel-body">
                            <p ng-show="basket.purchase_items[0] == undefined"> Empty basket</p>

                            <p ng-repeat="item in basket track by $index">
                                <span class="label label-default">{{item.amount}}</span> = {{item.name}}
                            </p>
                        </div>
                    </div>

                    <div class="btn-group btn-group-justified">
                        <!-- buy items -->
                        <div class="btn-group">
                            <button class=" btn btn-success btn-lg btn-group-justified" ng-click="buyItems()"
                                    ng-disabled="balanceOk() || buyPressed">
                                Buy <i class="fa fa-credit-card"></i>
                            </button>
                        </div>

                        <!-- Clear list -->
                        <div class="btn-group">
                            <button class=" btn btn-warning btn-lg btn-group-justified" ng-click="clearBasket()">
                                Clear <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <hr/>
            <!-- Back to residents page -->
            <div class="panel panel-default">
                <ul class="nav nav-pills nav-stacked">
                    <li><a ng-href="#/picker/{{shopper.kitchen_number}}"
                           class="btn btn-primary btn-lg resident-picker-nav">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        Back to residents
                    </a></li>
            </div>
        </div>

    </div>

</div>
