<div class="container">

    <h1>Select the kitchen on you floor</h1>
    <hr/>
    <div class="row">
        <!-- Kitchen one -->
        <div class="col-md-4" ng-repeat="account in accounts | filter: accountVisibilityFilter">
            <div class="list-group">
                <a ng-href="#/picker/{{account.account_id}}" class="list-group-item  kitchen-block kitchen-one">
                    <p class="lead text-center">{{account.account_name}}</p>

                    <h1 class="text-center"># {{account.account_id}}</h1>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <p class="text-center lead">Element - Hydrogen</p>
            <p class="text-center">Keeping the people hydrated</p>
        </div>
    </div>
</div>