<div class="container">

    <h1>Choose a kitchen</h1>
    <hr/>
    <div class="row">
        <!-- Kitchen one -->
        <div class="col-md-4" ng-repeat="account in accounts | filter: accountVisibilityFilter">
            <div class="list-group">
                <a ng-href="#/picker/{{account.account_id}}" class="list-group-item  kitchen-block kitchen-one">
                    <p class="lead text-center">{{account.account_name}}</p>

                    <h1 class="text-center"># {{account.account_id}}</h1>
                </a>
            </div>
        </div>
    </div>
</div>